@use 'sass:color'

$c_txt_highlighted: #5b8fff
$c_txt_contrast: #ff5e5b
$c_txt_title: #2b061e
$c_txt_subtitle: #875053
$c_txt_main: #1f1f1f
$c_txt_darkbluish: #061424
$c_txt_lightbluish: #c7d7fa
// $c_txt_lightbluish: #d7cfee
$c_txt_secondary: #adada1
$c_txt_white: #fff
// $c_txt_white: #fdfdff

$c_bg_ivory: #ffffea
$c_bg_charcoal: #203138
// $c_bg_charcoal: #2a3d45
$c_bg_lightgray: #d8d8d8
$c_bg_pinetree: #181f14
$c_bg_darkbluish:#061424
// $c_bg_darkbluish:#0e182a
// $c_bg_pinetree: #1f271b
// $c_bg_theme_main: color.scale( $c_bg_theme_main, 70% )
$c_gol_fondo: #222
$c_gol_texto: #c1f30c
$c_gol_borde: #749205

$c_theme_main: #a3ff52

$c_red: #ff1020
$c_amber: #fcb800
$c_green: #05f140

$c_siena: #3c1518
$c_corn: #f5f539
$c_blue: #13c7d8
$c_pastel: #facfb7

$uoc-corporate: #000078
$uoc-masterbrand: #73edff

$colors_background_map: ('bg_ivory': $c_bg_ivory, 'bg_charcoal': $c_bg_charcoal, 'bg_lightgray': $c_bg_lightgray, 'bg_pinetree': $c_bg_pinetree)

@each $colorName, $hex in $colors_background_map
  .#{$colorName}_bg
    background-color: $hex