@use '../base/' as *

body
  margin: 0
  display: flex
  flex-direction: column
  height: 100%

header, footer
  flex-shrink:0
  
main
  flex-grow: 1
  display: flex
  flex-flow: row wrap
  height: 60%
  margin: 0
  font-family: sans-serif
  background-color: $c_bg_darkbluish
  color: white

.section__personal
  background-color: $c_bg_charcoal
  color: white
  padding: 1rem 2rem

.section__projects
  background-color: $c_bg_darkbluish
  color: $c_txt_lightbluish
  padding: 1rem 2rem

@include fallback
  .section__featured
    order: 1
    width: 100%
  .section__personal
    order: 2
    width: 50%
  .section__projects
    order: 3
    width: 50%

@include allMobile
  .section__featured
    order: 2
    width: 100%
  .section__personal
    order: 1
    width: 100%
  .section__projects
    order: 3
    width: 100%

@include hugeDevices
  .section__featured
    order: 2
    width: 40%
  .section__personal
    order: 1
    width: 20%
  .section__projects
    order: 3
    width: 20%

.project__info
  display: flex
  flex-flow: row wrap
  justify-content: space-between
  width: 100%
  font-size: $fsize_s

.project__stack
  display: flex
  flex-flow: row wrap
  justify-content: flex-start
  padding: .25rem 0

  & > a, & > li
    display: inline-block
    background: $c_bg_charcoal
    color: white
    padding: 0 .7rem .25rem .7rem
    margin: .2rem .5rem .2rem 0
    border-radius: .3rem
    text-decoration: none

    &:hover, &:focus
      background: $c_bg_lightgray
      color: $c_siena
      text-decoration: solid underline

.project__links--inline, .skill__links--inline
  color: inherit
  text-decoration: dotted underline
  &:visited
    color: inherit
  &:hover, &:focus, &:active
    color: $c_txt_contrast
    text-decoration: underline solid $c_txt_contrast

.project__title
  color: $c_txt_highlighted

.project__repo, .project__site
  color: inherit
  text-decoration: dotted 
  &:visited
    color: itxt_contrast
  &:hover, &:focus, &:active
    color: $c_txt_contrast
    text-decoration: underline solid $c_txt_contrast

.skill__title
  color: $c_txt_highlighted
  font-weight: bold
  letter-spacing: .05rem

.social__list
  display: flex
  @include fallback
    flex-flow: row nowrap
    justify-content: flex-start
  @include wearablesAndPhones
    flex-flow: column nowrap
    align-items: center

.social__item
  color: $c_txt_lightbluish
  padding: 0 .5rem

.social__link
  color: $c_txt_lightbluish
  text-decoration: dotted underline $c_txt_lightbluish
  &:hover, &:focus
    color: $c_txt_contrast
    text-decoration: solid underline $c_txt_contrast