@use '../base/' as *

footer
  text-align: center
  position: relative
  background-color: $c_bg_darkbluish
  color: white
  padding: 1rem
  &::before
    content: ''
    background: repeating-linear-gradient(210deg, $c_txt_darkbluish, $c_txt_lightbluish)
    position: absolute
    height: .15rem
    width: 100%
    top: 0
    left: 0

.footer__bar
  display: flex
  @include fallback
    flex-flow: row nowrap
    justify-content: center
  @include wearablesAndPhones
    flex-flow: column nowrap
    align-items: center

.footer__item
  color: $c_txt_lightbluish
  padding: 0 .5rem

.footer__link
  color: $c_txt_lightbluish
  text-decoration: dotted underline $c_txt_lightbluish
  &:hover, &:focus
    color: $c_txt_contrast
    text-decoration: solid underline $c_txt_contrast

.footer--hide
  @include fallback
    visibility: visible
  @include wearablesAndPhones
    display: none
