@use '../base/colors' as *
@use '../base/fonts' as *
@use '../base/breakpoints' as *

footer
  text-align: center
  position: relative
  &::before
    content: ''
    background-color: $c_bg_charcoal
    position: absolute
    height: 2px
    width: 100%
    top: 0
    left: 0

.footer--flex
  display: flex
  @include fallback
    flex-flow: row nowrap
    justify-content: center
  @include wearablesAndPhones
    flex-flow: column nowrap
    align-items: center

.footer--hide
  @include fallback
    visibility: visible
  @include wearablesAndPhones
    display: none
